* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 0;
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
    min-height: 100vh;

}

header{
    flex: 0 0 auto;
}

main{
     flex: 0 0 auto;
     background-image: url("https://img.freepik.com/vector-gratis/fondo-patrones-deportes-fisuras_98292-4294.jpg?w=1080");
 }

footer div h5{
    font-size: 28px !important;
}

footer div p{
    color: rgb(191, 193, 201);
}


#LOGOheader{
    margin: 5px;
    height: 55px;
}

.containerCarousel{
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
}

.carousel{
	
    height: 450px;
    overflow: hidden;
}

nav ul li a{
    color: white;
    font-size: 18px;
    padding: 7px 12px;
    border-radius: 3px;
    text-transform: uppercase;
    display: block;
    text-align: center;
}

nav li a:hover {
    background-color:#434343;
    
}

nav ul li div{
    position: absolute;
    z-index: 99;
    display: none;
    /*visibility: hidden;*/
    transition: all 300ms ease;
    list-style: none;
    background-color:#343a40;
}

nav ul li:hover div{
    /*Visibility: visible;*/
    display: flex;
    flex-flow: column nowrap;
}

li a.active, li a:hover{
    transition: .5s;
}

section .btn:hover {
	background-color:white;
	transition: all 300ms ease;
	
}

#MetodosDePago {
	background-image: url("https://previews.123rf.com/images/vaskinamat/vaskinamat1702/vaskinamat170200022/72494424-sport-banner-portada-de-facebook-conjunto-de-bolas-de-deporte-y-art%C3%ADculos-de-juego-en-un-fondo-azul-.jpg");
}
#MarcasOficiales {
	background-color: black;
	border-radius: 25px;
	background: url("https://gestion.pe/resizer/oo_dH7lCEwzrUU2oEC5L1f60D4s=/980x0/smart/filters:format(jpeg):quality(75)/arc-anglerfish-arc2-prod-elcomercio.s3.amazonaws.com/public/RBRVBOJEBBGUXLOH2EPO32UOGY.jpg");
	text-shadow: 1px 1px 5px black;
}

#Categorias {
	background-color: black;
	border-radius: 25px;
	background: url("https://previews.123rf.com/images/xtremer/xtremer0909/xtremer090900015/5545888-transparente-patr%C3%B3n-de-c%C3%A9sped-.jpg");
}

section h2, div h2 {
	color: White;
	text-shadow: 2px 2px 5px green;
	text-align: center;
	font-size: 4em;
}
div h2{
	color: Withe;
	text-shadow: 2px 2px 5px red;
}

.card {
	border: 10px;
	border-style: inset;
}